/* Styles de Elementos Gerais */
body {
  box-sizing: border-box;
  font-family: "Raleway";
  background-color: var(--corDeFundo);
  color: var(--softBlack);
}

section,
header {
  padding: 1rem;
}

h2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: var(--softBlack);
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: justify;
}

img {
  width: 1.5rem;
}

strong {
  font-weight: 700;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin-right: 0.2rem;
}

header h1 {
  display: flex;
  font-weight: 700;
  align-items: center;
}

header a {
  font-size: 0.875rem;
  font-weight: 400;
}

/* Resume */
.resume-container img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.resume-links {
  display: flex;
  justify-content: space-between;
}

.resume-links a {
  font-weight: 600;
}

/* About */
.about-container {
  background-color: var(--softBlue);
}

.about-container h2 {
  margin-bottom: 1rem;
}

.about-container p {
  margin-bottom: 0;
}

/* Skills and Hobbies Cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 35vw;
  height: 25vw;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white);
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__text {
  font-weight: 700;
  font-size: 1rem;
}

.card:nth-last-child(-n + 2),
.card__text {
  margin-bottom: 0;
}

.card__icon {
  display: block;
  color: var(--strongBlue);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* Skills and Hobbies */
.skills-container, .hobbies-container {
  text-align: center;
}

.hobbies-container .card img {
  width: 2rem;
  margin-bottom: 0.5rem;
  color: var(--strongBlue);
}

/* Graduation */
.graduation-container {
  background-color: var(--softBlue);
  text-align: center;
  padding: 2rem;
}

.graduation__card {
  margin-bottom: 1rem;
}

.graduation__card:last-child {
  margin-bottom: 0;
}

.graduation__card__content {
  background-color: var(--white);
}

.graduation__card__img {
  width: 5rem;
  padding: 0.5rem;
  height: 10vh;
}

.graduation__card__title {
  background-color: var(--softBlue);
  padding-top: 0.5rem;
  text-align: start;
}

.graduation__card__title--courseName {
  display: block;
  margin-bottom: 0.5rem;
}

/* Works */
.works-container {
  padding: 2rem;
  text-align: center;
}