/* Styles de Elementos Gerais */
body {
  box-sizing: border-box;
  font-family: "Raleway", cursive;
  background-color: var(--corDeFundo);
  color: var(--softBlack);
}

section,
header {
  padding: 1rem;
}

h2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: var(--softBlack);
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: justify;
}

img {
  width: 1.5rem;
}

strong {
  font-weight: 700;
}

span {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

/* Buttons */
.general__button--unfilled {
  border: 1px solid var(--strongBlue);
  color: var(--strongBlue);
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 1rem;
}

.general__button--filled {
  border: 1px solid var(--strongBlue);
  background-color: var(--strongBlue);
  color: var(--white);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin-right: 0.2rem;
}

header h1 {
  display: flex;
  font-weight: 700;
  align-items: center;
}

header a {
  font-size: 0.875rem;
  font-weight: 400;
}

/* Resume */
.resume-container img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.resume-links {
  display: flex;
  justify-content: space-between;
}

.resume-links a {
  font-weight: 600;
}

/* About */
.about-container {
  background-color: var(--softBlue);
}

.about-container h2 {
  margin-bottom: 1rem;
}

.about-container p {
  margin-bottom: 0;
}

/* Skills and Hobbies Cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 35vw;
  height: 25vw;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white);
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__text {
  font-weight: 700;
  font-size: 1rem;
}

.card:nth-last-child(-n + 2),
.card__text {
  margin-bottom: 0;
}

.card__icon {
  display: block;
  color: var(--strongBlue);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* Skills and Hobbies */
.skills-container,
.hobbies-container {
  text-align: center;
}

.hobbies-container .card img {
  width: 2rem;
  margin-bottom: 0.5rem;
  color: var(--strongBlue);
}

/* Graduation */
.graduation-container {
  background-color: var(--softBlue);
  text-align: center;
  padding: 2rem;
}

.graduation__card {
  margin-bottom: 1rem;
}

.graduation__card:last-child {
  margin-bottom: 0;
}

.graduation__card__content {
  background-color: var(--white);
}

.graduation__card__img {
  width: 10rem;
  padding: 0.5rem;
  height: 10vh;
}

.graduation__card__title {
  background-color: var(--softBlue);
  padding-top: 0.5rem;
  text-align: start;
}

.graduation__card__title--courseName {
  display: block;
  margin-bottom: 0.5rem;
}

/* Works */
.works-container {
  padding: 2rem;
  text-align: center;
}

.works__content {
  margin-bottom: 4rem;
  height: fit-content;
  text-align: start;
}

.works__content:last-child {
  margin-bottom: 0;
}

.works__content p {
  margin-bottom: 0.5rem;
}

.works__img {
  width: 100%;
  box-shadow: 7px 7px 5px var(--softBlack);
  margin-bottom: 1rem;
}

.works__title {
  font-size: 1rem;
  font-weight: 700;
}

.works__subTitle {
  font-weight: 500;
}

/* Footer - Contato */
.contato-container {
  padding: 2rem;
  background-color: var(--softBlue);
}

.contato-title {
  margin-bottom: 2rem;
}

.contato-title h2 {
  margin-bottom: 0.5rem;
}

.contato__inputContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
}

.contato__input {
  background-color: var(--white);
  box-shadow: 0 0 0 0;
  border: none;
  border-bottom: 2px solid var(--softGray);
  border-radius: 4px;
  color: var(--softBlack);
  caret-color: var(--softBlack);
  font-family: "Raleway", cursive;
  padding: 0 0.75rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  transition: 100ms all ease-in-out;
}

.contato__input--textarea {
  height: 8rem;
  background-color: var(--white);
  box-shadow: 0 0 0 0;
  border: none;
  border-bottom: 2px solid var(--softGray);
  border-radius: 4px;
  color: var(--softBlack);
  caret-color: var(--softBlack);
  font-family: "Raleway", cursive;
  padding: 0.5rem 0.75rem;
  resize: none;
}

.contato__input--textarea::placeholder {
  color: var(--softGray);
}

.contato__input--textarea:focus {
  border-bottom: 2px solid var(--strongBlue);
  caret-color: var(--strongBlue);
}

.contato__label {
  color: var(--softGray);
  left: 0.75rem;
  position: absolute;
  top: 1.5rem;
  transition: 100ms all ease-in-out;
}

.contato__input:focus {
  border-bottom: 2px solid var(--strongBlue);
  caret-color: var(--strongBlue);
}

.contato__input:not(:placeholder-shown) + .contato__label {
  color: var(--softGray);
  font-size: 0.75rem;
  top: 0.5rem;
}

.contato__input:focus + .contato__label {
  color: var(--strongBlue);
  font-size: 0.75rem;
  top: 0.5rem;
}

/* Footer - Copyright */
.copyright {
  align-items: center;
  display: flex;
  background-color: var(--white);
  justify-content: center;
  padding: 2rem;
}

.copyright p {
  margin: 0;
  text-align: center;
}

.copyright p span {
  color: var(--softBlack);
  font-size: 1rem;
  font-weight: 500;
}
