@media (min-width: 768px) {
  /* Header */
  header a {
    font-weight: 700;
  }

  /* Resume */
  .resume__container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
  }
  .resume__container img {
    display: inline;
    height: 20vw;
    margin: 0;
    margin-left: 2rem;
    width: 20vw;
  }

  .resume__content h2 {
    margin-bottom: 0.5rem;
  }

  .resume__content p {
    margin-bottom: 0.5rem;
  }

  .resume__links {
    justify-content: flex-start;
  }

  .resume__links a {
    margin-right: 2rem;
  }

  /* About */
  .about__container {
    padding: 2rem;
  }

  /* Skills and Hobbies Cards */
  .card, .card:nth-child(2n) {
    width: calc(30% - 2rem);
    height: 12vw;
    margin-right: 5%;
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }

  /* Skills and Hobbies */
  .skills__container,
  .hobbies__container {
    padding: 2rem;
  }

  /* Graduation */
  .graduation__list {
    display: flex;
    flex-wrap: wrap;
  }
  .graduation__card {
    width: 30%;
    margin-right: 5%;
  }

  .graduation__card:nth-child(3n) {
    margin-right: 0;
  }

  /* Footer - Contato */
  .contato__button {
    width: 25%;
  }
}
