@media (min-width: 768px) {
  /* Header */
  header a {
    font-weight: 700;
  }

  /* Resume */
  .resume-container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
  }
  .resume-container img {
    display: inline;
    height: 20vw;
    margin: 0;
    margin-left: 2rem;
    width: 20vw;
  }

  .resume-content h2 {
    margin-bottom: 0.5rem;
  }

  .resume-content p {
    margin-bottom: 0.5rem;
  }

  .resume-links {
    justify-content: flex-start;
  }

  .resume-links a {
    margin-right: 2rem;
  }

  /* About */
  .about-container {
    padding: 2rem;
  }

  /* Skills and Hobbies Cards */
  .card {
    width: 25%;
    height: 12vw;
    margin-right: 5.6818%;
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }

  .card__list {
    justify-content: flex-start;
  }

  /* Skills and Hobbies */
  .skills-container,
  .hobbies-container {
    padding: 2rem;
  }

  /* Graduation */
  .graduation__list {
    display: flex;
    flex-wrap: wrap;
  }
  .graduation__card {
    width: 30%;
    margin-right: 5.00255681%;
  }

  .graduation__card:nth-child(3n) {
    margin-right: 0;
  }
}
